@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  @apply bg-white dark:bg-slate-950;
}

.body {
  @apply background text-gray-900 dark:text-gray-300 max-w-[65ch] mx-auto px-4 text-base antialiased;
}

.code {
  @apply text-sm font-mono bg-gray-100 dark:bg-gray-800 dark:border-gray-600 py-0.5 px-1 rounded border-solid border;
}

.date {
  @apply opacity-50 text-sm font-normal mb-1;
}

details {
  @apply my-4;
}

.h3 + details {
  @apply mt-0;
}

details summary {
  @apply text-sm opacity-80;
}

details > :not(summary) {
  @apply ml-4;
}

.footer {
  @apply text-sm text-right mt-20 mb-16 opacity-75;
}

.h1 {
  @apply text-3xl mt-12 mb-4 font-extrabold text-gray-600 dark:text-gray-300;
}

.h2 {
  @apply text-xl font-bold first:mt-0 mt-6 mb-0 text-gray-700 dark:text-gray-300;
}

.h3 {
  @apply font-semibold mt-4 text-gray-700 dark:text-gray-300;
}

.hr {
  @apply my-8 border-gray-100 dark:border-gray-800;
}

.iframe {
  @apply shadow-md rounded w-full max-sm:w-11/12 max-sm:mx-auto min-h-[600px];
}

.img {
  @apply max-w-full my-8;
}

.li {
  @apply my-1;
}

.link {
  @apply hover:text-blue-700 hover:dark:text-blue-500 focus:text-blue-700 focus:dark:text-blue-500 underline;
}

.list {
  @apply ml-1 my-4 pl-4 marker:text-gray-500 dark:marker:text-gray-600;
}

.list .list {
  @apply my-1;
}

.ol {
  @apply list-decimal;
}

.p {
  @apply my-4;
}

.snippet {
  @apply opacity-75 text-sm;
}

summary {
  @apply cursor-pointer;
}

.ul {
  @apply list-disc;
}

.workout {
  @apply border rounded-lg my-2 px-4 border-gray-200 bg-gray-50 dark:bg-gray-900 dark:border-gray-700;
}

@media print {
  :root {
    font-size: 12px;
  }
  .body {
    max-width: unset;
  }
  /* add link href to link ::after */
  a::after {
    content: " (" attr(href) ")";
  }
}
